<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529522789866-fs4gidm3cu9b9fbadu4fs5f27gqgogb9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529522789866-fs4gidm3cu9b9fbadu4fs5f27gqgogb9</string>
	<key>API_KEY</key>
	<string>AIzaSyDDd-z7stLYfaVOS0IcQOn6aylBRrR0IcA</string>
	<key>GCM_SENDER_ID</key>
	<string>529522789866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shafrannaizer.Extractor</string>
	<key>PROJECT_ID</key>
	<string>iotpr-9dd7c</string>
	<key>STORAGE_BUCKET</key>
	<string>iotpr-9dd7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529522789866:ios:62f59305f6374e64</string>
	<key>DATABASE_URL</key>
	<string>https://iotpr-9dd7c.firebaseio.com</string>
</dict>
</plist>